# Pandas Basics

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame(np.arange(10).reshape(5, 2), index=[
                  "Row1", "Row2", "Row3", "Row4", "Row5",], columns=['A', 'B'])
df

      A  B
Row1  0  1
Row2  2  3
Row3  4  5
Row4  6  7
Row5  8  9

In [4]:
df.head(3)

      A  B
Row1  0  1
Row2  2  3
Row3  4  5

In [5]:
df.to_csv('data.csv')

In [6]:
# Accessing elements
# 1. .loc[]    2. .iloc[]
print(type(df.loc['Row1']))
df.loc['Row1']

<class 'pandas.core.series.Series'>

A    0
B    1
Name: Row1, dtype: int64

In [7]:
print(df.iloc[:, :])
print("For particular index")
print(df.iloc[0:2, 0:3])

      A  B
Row1  0  1
Row2  2  3
Row3  4  5
Row4  6  7
Row5  8  9
For particular index
      A  B
Row1  0  1
Row2  2  3

In [8]:
print(df.iloc[0:2, 0:3].values)

[[0 1]
 [2 3]]

In [9]:
df['A'].value_counts()

A
0    1
2    1
4    1
6    1
8    1
Name: count, dtype: int64

In [10]:
df.isnull().sum()

A    0
B    0
dtype: int64

In [11]:
df['A'].unique()

array([0, 2, 4, 6, 8])